@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #bf3a2b;
  --color-accent-dark: #e05343;
  --color-muted: #5a5252;
  --color-muted-dark: #a89f9f;
  --color-heading: #2d2a2a;
  --color-heading-dark: #f3eded;
}
